
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(https://fonts.gstatic.com/s/droidsans/v6/EFpQQyG9GqCrobXxL-KRMYWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.alladin-lamp {
  margin-top: 32px;
  height: 32px;
  margin-bottom: 32px;
}

body {
  font-family: "Droid Sans", sans-serif;
}

.center-content {
  text-align: center;
}

cite {
  float: right;
}

.cover {
  height: 100%;
  background: url("../img/background-fullhd.jpg") no-repeat center bottom;
  background-size: cover;
  margin-bottom: 15px;
}

@media screen and (min-height: 1081px) {
  .cover {
    background-image: url("../img/background-4k.jpg")
  }
}

h2 {
  font-family: "Droid Sans", sans-serif;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.horse {
  height: 20%;
  background-color: black;
}

.logo {
  text-align: center;
}

/* Only apply margins between quotes if its a mobile device: http://foundation.zurb.com/docs/media-queries.html */
@media only screen and (max-width: 40em) {
  .quote-margin {
    margin-bottom: 25px;
  }
}

.quotes {
  margin: 40px 0 40px 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../img/lightning.jpg");
  color: white;
}

.row.last {
  margin-bottom: 20px;
}

@media only screen and (max-width: 40em) {
  section.top-bar-section {
    width: 100%;
  }
}

@media not screen and (max-width: 40em) {
  .top-bar ul.left {
    display: none;
  }
}

.top-bar, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
}

@media only screen and (max-width: 40em) {
  .top-bar-section li:not(.has-form) a:not(.button) {
    background: #353535;
    width: 100%;
  }
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background: none;
}


.top-bar-section ul li > a {
  font-family: "Droid Sans", sans-serif;
}
