
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(https://fonts.gstatic.com/s/droidsans/v6/EFpQQyG9GqCrobXxL-KRMYWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

address {
  font-style: normal;
}

.alladin-lamp {
  margin-top: 32px;
  height: 32px;
  margin-bottom: 32px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  border-bottom: 40px;
}

.center-content {
  text-align: center;
}

cite {
  float: right;
}

.cover {
  height: 100vh;
  background: url("../img/background-fullhd.jpg") no-repeat center bottom;
  background-size: cover;
  margin-bottom: 40px;
}

@media screen and (max-width: 40em) {
  .cover {
    margin-bottom: 15px;
  }
}

/* 4k background for screens bigger than 1080p*/
@media screen and (min-height: 1081px) {
  .cover {
    background-image: url("../img/background-4k.jpg")
  }
}

a.efterfest{
  color: #222;
  text-decoration: none;
  cursor: default;
}

h2, h3, h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

h5 {
  font-size: 1.25rem;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.horse {
  height: 20%;
  background-color: black;
}

.language-links {
  padding-top: 5px;
  text-align: right;
  list-style-type: none;
}

.language-links li {
  display: inline;
  padding-right: 10px;
}

.language-links li a {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

#logo {
  text-align: center;
  opacity: 0;
}

@media screen and (max-width: 40em) {
  .img-logo {
    max-width: 100%;
  }
}

.img-logo {
  min-width: 20rem;
  max-width: 60%;
  transform: translateY(-5%);
}

/* Only apply margins between quotes if its a mobile device: http://foundation.zurb.com/docs/media-queries.html */
@media only screen and (max-width: 40em) {
  .quote-margin {
    margin-bottom: 25px;
  }
}

.map {
  width: 100%;
  height: 300px;
}

p {
  font-size: 1.25rem;
}

ul {
  list-style-type: circle;
  margin-left: 2.5rem;
  font-size: 1.25rem;
}

ul.language-links {
  z-index: 100; /* To make the links clickable even though the logo covers the links*/
  position: relative;
}

.quotes {
  margin: 20px 0 40px 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../img/quote-background.jpg");
  background-repeat: repeat;
  color: white;
}

@media screen only (max-width: 40em) {
  .quotes {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.row.last {
  margin-bottom: 40px;
}
